.top {
    display: flex;
    justify-content: space-between;
}

.top img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.slider-container {
    width: 80%;
    height: 20px;
    /* Increased height to accommodate slider */
    padding: 2px;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    background-color: #e4e0ef76;
    border-radius: 50px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 97%;
    height: 8px;
    background: white;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #534caf;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.rating-display {
    font-size: 18px;
    color: #f3fcfb;
}